@import "node_modules/bootstrap/scss/bootstrap";

.company {
    margin-bottom: 24px;

    .company-logo-wrapper {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    
        .company-logo {
            @extend .mr-3;
            width: 60px;
        }
    }
}