.social {
    @extend .text-primary;
    @extend .text-center;
    margin-bottom: 24px;

    .social-link {
        display: block;
        font-weight: 600;
        word-break: break-word;
        text-decoration: underline;
    }
}