header {
    @extend .bg-dark;
    height: 100%;

    .nav-brand {
        @extend .text-light;

        display: inline-block;
        padding: 0.5rem 1rem;

        .nav-title {
            font-size: 24px;
            font-weight: 800;
            padding-right: 12px;
        }
    
        .nav-subtitle {
            @extend .text-muted;
            font-size: 12px;
            font-weight: 400;
        }
    }

    .nav-brand:hover {
        text-decoration: none;
    }

    .nav-button {
        @extend .d-block;
        @extend .d-md-none;
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .nav-list {
        margin-bottom: 12px;

        .nav-link {
            padding-top: 0;
            font-weight: 700;
        }

        .nav-sections {
            margin: 24px 0;
        }
    }
}