.project-card {
    cursor: pointer;
    border: 0;
    width: 256px;
    height: 256px;
    overflow: hidden;
    margin: 12px;

    .project-card-preview-container {
        width: 100%;
        height: 100%;
    }

    .project-card-preview {
        image-rendering: pixelated;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .project-card-overlay {
        @extend .bg-dark;
        @extend .rounded;
    
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    
    .project-card-text {
        @extend .text-center;
        @extend .text-light;
        @extend .align-items-center;

        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 30px;
        opacity: 0;
        padding: 0 32px;
    }

    .project-card-close {
        @extend .text-light;
        
        position: absolute;
        top: 24px;
        right: 24px;
    }
}

.project-card:hover:not(.project-card-open) {
    .project-card-overlay {
        opacity: 0.9;
    }
    
    .project-card-text {
        opacity: 1;
    }
}

.project-card-open {
    margin: 0 auto;
    max-width: 800px;
    width: unset;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .project-card-overlay {
        opacity: 0.3;
    }
    
    .project-card-text {
        opacity: 1;
        text-shadow: 0 0 10px $dark;
        font-size: 48px;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), $dark);

        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            font-size: 38px;
        }

        @media screen and (max-width: map-get($grid-breakpoints, sm)) {
            font-size: 30px;
        }
    }

    & + .collapse, & + .collapsing {
        margin: 0 auto;
        max-width: 800px;
    }
}

.project-card-body {
    @extend .bg-dark;
    @extend .text-light;
    @extend .rounded;

    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    .project-card-description {
        padding: 24px 0;
    }

    .carousel-caption {
        text-shadow: 2px 2px 0 #000;
    }
}

.project-card-image {
    width: 100%;
    min-width: 256px;
    image-rendering: pixelated;
    padding-top: 12px;
}