@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 0 24px;
}

.section {
    margin-bottom: 48px;
}

.date-range {
    @extend .text-muted;
    font-weight: 600;
}

.education-degree {
    font-weight: 500;
}

.description {
    margin-top: 12px;
}