@import './overrides';

@import "node_modules/bootstrap/scss/bootstrap";

@import './Components/Biography.scss';
@import './Components/CompanyItem';
@import './Components/Contact';
@import './Components/Navigation';
@import './Components/SectionTitle';
@import './Components/Skill';

html {
    scroll-behavior: smooth;
}

main {
    padding: 0 24px;
}

.section {
    margin-bottom: 48px;
}

.date-range {
    @extend .text-muted;
    font-weight: 600;
}

.education-degree {
    font-weight: 500;
}

.description {
    margin-top: 12px;
}